name: Rust

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup Rust
      uses: dtolnay/rust-toolchain@stable
    # - name: Cache Rust dependencies
    #   uses: Swatinem/rust-cache@v2
    #   with:
    #     # Optional: specify additional cache key components
    #     key: "v1" # bump this to invalidate cache
    #     # Cache on a per-job basis
    #     shared-key: "stable"
    #     # Don't cache the target/ directory of workspace members
    #     cache-targets: "true"
    #     # Cache ~/.cargo/registry/src
    #     cache-all-crates: "true"
    - name: Build
      run: cargo build
    - name: Run basic tests
      run: cargo test
    - name: Run tests all with all features
      run: cargo test --all-features

  coverage:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup Rust
      uses: dtolnay/rust-toolchain@nightly
      # See doc: https://github.com/xd009642/tarpaulin
    - name: Tarpaulin
      run: |
        cargo install cargo-binstall
        cargo binstall cargo-tarpaulin --no-confirm
        cargo tarpaulin --all-features --exclude-files "benches/*" --run-types Tests --run-types Doctests --run-types Lib --timeout 120 --out xml
    - name: Upload to codecov.io
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
